.container {
  padding: 30px;
  height: 100vh;
  display: grid;
  grid-template-areas: 'search search' 'list message';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px 1fr;
  gap: 10px;
}

.searchBox {
  grid-area: search;
  background-color: red;
}

.listBox {
  grid-area: list;
  background-color: green;
}

.messagesBox {
  grid-area: message;
  background-color: blue;
}
